.page{
	background: url(../images/bg-4.jpg) no-repeat center top;
	background-attachment: fixed;
	overflow: auto;

	position: relative;
	&:after{
		@extend .before;
		right: 0;
		top: 0;
	}

	.outerwrapper{
		background-size: contain;
		background-repeat: no-repeat;
		background-position: right top;
		background-attachment: fixed;
	}

	.main{
		// margin-bottom: 5rem;
	}

	footer{
		margin-top: -50px;
		padding-bottom: 5rem;
	}

	.main{
		padding-bottom: 5rem;
		width: 110rem;
	}
	main{
		@include font-size(1.7);
		@extend .regularlightext;
		line-height: 1.5;

		h1, h2, h3, h4, h5, h6{
			margin: 1rem 0;	
		}

		h1{@include font-size(6); @extend .myriadbold;}
		h2{@include font-size(4); @extend .myriadbold; font-weight: normal;}
		h2.light{@include font-size(4); @extend .regularlightext; font-weight: normal;}
		h3{@include font-size(3.4); @extend .myriadbold;}
		h4{@include font-size(3); @extend .myriadbold;}
		h5{@include font-size(2.8); @extend .myriadbold;}
		h6{@include font-size(2.6); @extend .myriadbold;}

		p{
			line-height: 1.5;
			color: #d4d6e0;
			margin: 2.2rem 0;
		}

		ul, ol{
			color: #d4d6e0;			
		}

		ul{
			margin-left: 1.2rem;
			li{
				background:url("data:img/png;base64,iVBORw0KGgoAAAANSUhEUgAAABMAAAADBAMAAACDqClkAAAABGdBTUEAALGPC/xhBQAAACBjSFJNAAB6JgAAgIQAAPoAAACA6AAAdTAAAOpgAAA6mAAAF3CculE8AAAAElBMVEX///8AmaMAmaMAmaMAmaP///+kGiPKAAAABHRSTlMAhOEhXqMHNQAAAAFiS0dEAIgFHUgAAAAHdElNRQfhAwUUHjCIBey6AAAAGElEQVQI12NgEHEBAycDBkYIy0WZAUkQAGajBj0IE1O/AAAAAElFTkSuQmCC") no-repeat left 8px;
				margin-top: 1.2rem;
				padding-left: 26px;
				ul li{
					background:url("data:img/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAkAAAADBAMAAACzJDhFAAAABGdBTUEAALGPC/xhBQAAACBjSFJNAAB6JgAAgIQAAPoAAACA6AAAdTAAAOpgAAA6mAAAF3CculE8AAAAFVBMVEX///8AmaMAmaMAmaMAmaMAmaP///9TYfsSAAAABXRSTlMAAIThIS9bZx4AAAABYktHRACIBR1IAAAAB3RJTUUH4QMHDBMMqvjUMwAAABdJREFUCNdjYFANDXZgYAoNNREAMR0FABs0AxzmlvbkAAAAAElFTkSuQmCC") no-repeat 12px 8px;
				}
			}
		}		



		ol{
			counter-reset: li;
			list-style: outside none none;
			margin-left: 0;	
			li{
				position: relative;
				padding-left: 30px;
				margin-top: 10px;
				&:before{
					@extend .myriadbold;
					color: #0099a3;
					content: counter(li, decimal) ")";
					counter-increment: li;
					font-size: 16px;
					left: 0;
					position: absolute;
					top: 0;
					width: 20px;				
				}
				ol{
					li{
						&:before{
							font-size: 16px;
							@extend .italic;
							content: counter(li, decimal) ".";
						}
					}
				}
			}	
		}

		a{
			color: #0099a3;
			text-decoration: underline;
			@include transition;
			&:hover{
				color: #00efff;
				text-decoration: none;
			}
		}

		strong, b{
			color: #fff;
		}

		blockquote{
			@include font-size(2.2);
			background: #090e14;
			box-shadow: 0 0 30px rgba(0, 104, 142, .65);
			color: #d4d6e0;
			margin: 2rem 0; 
			padding: 3.4rem 3.4rem;
			line-height: 1.4;
		}

		table{
			@include font-size(1.6);
			tr{
				th{
					background: #191b1f;
					text-shadow: none;
					text-align: left;
					font-weight: normal;
					padding: 1.8rem 4rem 2rem 2.5rem;
				}
				td{
					padding: 1.9rem 4rem 1.9rem 2.5rem;
				}

				td{
					color: #d4d6e0;
					border-bottom: 1px solid #202126;
				}

				&:last-child td{
					border-bottom: none;
				}
			}

		}
	}

	.fixedpic{
		// background-size: cover;
		// background-repeat: no-repeat;
		// height: auto;
		// min-height: 100%;
		// position: fixed;
		// right: 17px;
		// top: 0;
		// width: 43%;
		// z-index: 2;
		// &:before{
		// 	@extend .before;
		// 	background: url(../images/edge.png) no-repeat left top;
		// 	width: 152px;
		// 	height: 100%;
		// 	z-index: 3;
		// }
	}
}



.alignleft{
	float: left;
	margin: 7px 28px 28px 0;
}

.alignright {
	float: right;
	margin: 7px 0 28px 28px;
}

.aligncenter {
	clear: both;
	display: block;
	margin: 7px auto;
}

