.contacts{
	background: none;


	.main{
		position: relative;
		width: 49%;
		z-index: 15;
	}

	.bg{
		background: url(../images/noise2.jpg) no-repeat right 0 top;
		background-color: transparent;
		z-index: 3;
		width: 45%;
	}

	.bg,
	.map{
		height: 100%;
		position: absolute;
		top: 0;
	}

	#map1,
	#map2{
		height: 100%;
		width: 100%;
		right: 0;
		top: 0;
	}

	.gmap{
		height: 100%;
		position: absolute;
		z-index: -1;
		width: 100%;
		opacity: 0;
		@include transition-param(opacity);
		&.visible{
			display: block;
			opacity: 1;
			z-index: 3;
		}
	}


	@extend .regularlightext;

	.tabs{
		@include font-size(2.6);
		@include flexbox;
		padding-top: 4.5rem;
		padding-bottom: 4rem;
		li{
			margin-right: 2.5rem;
			border-bottom: 2px solid $color3;
			cursor: pointer;
			@include transition-param(color);
			&.current{
				cursor: default;
				border-bottom: none;
				color: $color3;
			}
			&:hover:not(.current){
				border-bottom-color: rgba(0,0,0,0);
				color: $color3;
			}
			&:last-child{
				margin-right: 0;
			}
		}
	}

	.content{
		@include font-size(2);

		.tab{
			display: none;
			&.visible{
				display: block;
			}
		}
		a{
			@include transition-param(color);
			&:hover{
				color: $color18;
			}
		}
		.tel{
			@include font-size(3);
			padding-top: 2rem;
			padding-bottom: 1.2rem;
			a{
				text-decoration: none;
			}			
		}

		.email_link{
			color: $color19;
			@extend .tdu;
		}
	
		.btn{
			@include font-size(2.4);
			@include transition-param(color);
			background: url(../images/callback-btn.png) no-repeat -11px -88px;
			display: inline-block;
			height: 82px;
			left: -3rem;
			margin-top: 5rem;
			padding-top: 1.7rem;
			position: relative;
			text-align: center;
			text-decoration: none;
			width: 303px;
			&:before{
				@extend .before;
				@include transition-param(opacity);
				background: url(../images/callback-btn.png) no-repeat left -170px;
				height: 82px;
				left: -11px;
				opacity: 0;
				top: 0px;
				width: 325px;
				z-index: 1;
			}
			&:hover{
				color: $color1;
				&:before{
					opacity: 1;
				}
			}

			span{
				position: relative;
				z-index: 20;
			}
		}
	}

	.schedule{
		@include drop-shadow(0, 0, 10px, .8);
		@include font-size(1.6);
		background-color: $color20;
		margin-top: 2.5rem;
		padding: 3rem 3rem 2rem;
		width: 45.5rem;
		.days{
			@include flexbox;
			@include justify-content(space-between);
			color: $color21;
			text-transform: uppercase;
			margin: 1rem 0;
		}

		.worktime{
			@include flexbox;
			li{
				text-align: center;
				&:first-child{
					width: 27rem;
					position: relative;
					&:before, 
					&:after{
						@extend .before;
						background-color: $color2;
						height: 1px;
						top: 6px;
						width: 82px;
					}

					&:before{
						left: 0;
					}
					&:after{
						right: 0;
					}
				}
				&:last-child{
					flex-grow: 1;
					text-align: right;
				}
			}
		}

	}

	// map
	.map{
		z-index: 10;
		width: 55%;
		position: absolute;
		// left: -191px;
		right: 0;
		&:before{
			@extend .before;
			background: url(../images/contact-bg.png) no-repeat left top;
			height: 100%;
			left: 0;
			top: 0;
			width: 191px;
			z-index: 5;
		}
	}
}

#writeus{
	.btn{
		padding-top: 1.8rem;
	}
}